/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Header Styles */
.header {
    background-color: #4B0082;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

.header h1 {
    font-size: 1.4rem;
    margin: 0;
}

/* Section Styles */
.section {
    margin-top: 2px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.section-header {
    background-color: #4B0082;
    color: white;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.section-header h2 {
    margin: 0;
    font-size: 1.2rem;
}

/* Table Styles */
.table-wrapper {
    overflow-x: auto;
    margin-top: 0px;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.8rem;
    margin-top: 0px;
}

th, td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

th {
    background-color: #4B0082;
    color: white;
}

td input[type="text"], td select, .coef-input {
    width: 3.5rem;
    padding: 5px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.8rem;
    box-sizing: border-box;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    .header h1 {
        font-size: 1.5rem;
    }

    .section-header h2 {
        font-size: 1.3rem;
    }

    table {
        font-size: 0.9rem;
    }

    th, td {
        padding: 5px;
    }

    td input[type="number"], td select {
        width: 100%;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 480px) {
    .header h1 {
        font-size: 1.2rem;
    }

    .section-header h2 {
        font-size: 1.1rem;
    }

    .table-wrapper {
        overflow-x: auto;
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    th, td {
        font-size: 0.8rem;
        padding: 5px;
    }

    td input[type="number"], td select {
        font-size: 0.7rem;
    }
}
.enviar-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #009b08;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}
.enviar-btn:hover {
    background-color: #0056b3;
}