<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/impresion.css') }}">
    <title>Resultados de Optimización</title>
</head>
<body>
    <div class="container">
        <section class="section">
            <div class="section-header">
                <h2>Resultados de Optimización</h2>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tipo de Optimización</td>
                        <td>{{ tipo_optimizacion|capitalize }}</td>
                    </tr>
                    <tr>
                        <td>Valor Función Objetivo</td>
                        <td><strong>{{ valor_optimo }}</strong></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <!-- Valores de las Variables y Costos Reducidos-->
        <section class="section">
            <div class="section-header">
                <h2>Valores de las Variables y Costos Reducidos</h2>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Variable</th>
                        <th>Valores</th>
                        <th>Costos Reducidos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for var in resultados.keys() %}
                        <tr>
                            <td><strong>{{ var }}</strong></td>
                            <td>{{ resultados[var] }}</td>
                            <td>{{ reduced_costs.get(var, 'N/A') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <!-- Precios Duales y Holguras-->
        <section class="section">
            <div class="section-header">
                <h2>Precios Duales y Holgura</h2>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Restricción</th>
                        <th>Precio Dual</th>
                        <th>Holgura / Superávit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for constraint in shadow_prices.keys() %}
                        <tr>
                            <td><strong>{{ constraint }}</strong></td>
                            <td>{{ shadow_prices[constraint] }}</td>
                            <td>{{ slack_surplus.get(constraint, 'N/A') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <section class="section">
            <div>
                <img src="{{ graph_url }}" style="width: 600px; height: auto;" alt="Gráfica de la solución"/>
            </div>
        </section>
    </div>
</body>
</html>
